* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #264653;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 500px;
  background-color: white;
  padding-top: 50px;
  border-radius: 10px;
  font-weight: 900;
}

.socialloginBtn {
  width: 80%;
  height: 10%;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  height: 10%;
  font-weight: 900;
  margin-top: 4rem;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.socialloginBtn:hover {
  background-color: #ccc;
  border: 3px solid #ccc;
}

.mypageContainer {
  background-color: white;
  width: 100vw;
  height: 90vh;
  padding: 5%;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.name {
  font-weight: 800;
}

.item {
  font-weight: 800;
  font-size: 1.2rem;
}

img {
  width: 100px;
} 

#logo {
  width: 250px;
  margin-top: 3rem;
}